<h1>Report generator</h1>

<form action="report_generator" method="GET">
  <br/>
  <div>
    <label for="start_date">Start date</label>
    <input type="date" id="start_date" name="start_date" class="form-control" style="max-width: 410px;" required>
  <br/>
    <label for="end_date">End date</label>
    <input type="date" id="end_date" name="end_date" class="form-control" style="max-width: 410px;" required>
  </div>
  <br/>
  <div>
    <label>Category</label>
    <select name="category_id" class="form-select" style="max-width: 410px;"> <%= options_for_select(@categories_data) %> </select>
  </div>
  <br/>
  <div>
    <label>Operation Type</label>
    <select name="operation_type" class="form-select" style="max-width: 410px;"> <%= options_for_select(@operations_data) %> </select>
  </div>
  <br>
  <input type="submit" name="report_cat_date" value="Generate" class="btn btn-success">
  <input type="submit" name="report_by_category" value="Report by Categories" class="btn btn-primary">
  <input type="submit" name="report_by_date" value="Report by Dates" class="btn btn-primary">

<script>
  var startDateField = document.getElementById('start_date');
  var endDateField = document.getElementById('end_date');

  endDateField.addEventListener('input', function() {
    validateDateFields();
  });

  function validateDateFields() {
    var startDate = new Date(startDateField.value);
    var endDate = new Date(endDateField.value);

    if (endDate < startDate) {
      endDateField.setCustomValidity('End date cannot be earlier than the start date');
    } else {
      endDateField.setCustomValidity('');
    }
  }
</script>

</form>
