<h1>Report generator</h1>

<form action="report_generator" method="GET">
  <br/>
  <div>
  <input type="date" name="start_date" class="form-control" style="max-width: 410px;">
  <input type="date" name="end_date" class="form-control" style="max-width: 410px;">
  </div>
  <br/>
  <div>
  <select name="category_id" class="form-select" style="max-width: 410px;"> <%= options_for_select(@categories_data) %> </select>
  </div>
  <br>
  <input type="submit" name="report_cat_date" value="Generate" class="btn btn-success">
  <input type="submit" name="report_by_category" value="Report by Categories" class="btn btn-primary">
  <input type="submit" name="report_by_date" value="Report by Dates" class="btn btn-primary">
</form>
