<footer class="text-center text-white" style="background-color: #2E3439">
<div class="container">
  <hr class="my-2" />

  <section class="text-center mb-3">
  <a href="https://github.com/kisiohlova" style="color: #ABB2B9" target="_blank">
  <i class="bi bi-github"></i></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://www.linkedin.com/in/anastasiia-kisiohlova/" style="color: #ABB2B9" target="_blank">
  <i class="bi bi-linkedin"></i></a>
  </section>
</div>
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: #ABB2B9">© 2023 Copyright:
  <a href="/" style="color: #ABB2B9"
    >FinanceApp</a>
</div>
</footer>